.main-nav,
.main {
  position: relative; 
 
}

.main-nav {
  z-index: 150;
  top:10%;
  transition: all 0.6s ease;
}

.main-nav #logo {
	display: none;
}

header,
.main-nav-scrolled {
	position: fixed;
	width: 100%;
	top: 0;

}

header .header--clear  {
	transform: translate3d(0, -130px, 0);
}

header div a {
	border: none;
}
header #logo div{
	width: 128px;
	height: 96px;
	background-size: 128px 96px;
	margin: 0 auto;
	background: url('assets/images/logo2.png');
}

.main-nav-scrolled {
	height: 122px;
}
.main-nav-scrolled #logo {
	display: block;
	background-size: 64px 38px;
	margin: 0 auto;
}

.top-scrolled #logo {
	display: none;
}

.main-nav-scrolled #logo div {
	width: 64px;
	height: 38px;
	background-size: 64px 38px;
	background-repeat: no-repeat;
	margin: 0 auto;
}