/* nav fixed*/

* {
  box-sizing: border-box;
}


/*img {
	width: 290px;
	height: 290px;
}*/

.promo img {
  width: 290px;
}

.destaques img {
  width: 100%;
  height: 100%;
}

body {
	background-color:#fff; /*#F5F4F4*/
	font-size: 16px;
    line-height: 1.7;
    font-family: "Raleway", sans-serif;
    color: #5c4b51;
}
header {
	/*background-color:#F5F4F4;*/
	height:130px;
}

header h1 {
			font-family: 'Quicksand', serif;
			font-size: 1.5em;
			color:#5C4C52;
		}

.menu-header {
	background-color: #F5F4F4;
}


nav {
	margin: 0 auto;
	background-color: #fff;
	box-shadow: none;
	height: 86px;
	width: 96%;	
	position: relative;
	padding: 20px 100px 0px 100px;
  border-top: 5px solid #fff;
}

nav ul a {
	font-size: 1.2em;
	font-family: 'Raleway', sans-serif;
	color: #5D4D53!important;
	text-align: center;
}

nav ul a span {
	font-size: 1em;
}

nav ul a:hover {
	color: #F06060!important;
	padding-bottom: 30px;
	border-bottom: 3px solid rgba(246, 158, 158, 0.8);	
}

nav ul a span:hover {
	color: #8EBFB4;
}

.images {
	padding: 20px;
}

.name {
	font-family: 'Quicksand', sans-serif;
	font-size:1.4em;
	color: #5C4C52;
}

hr {
  width: 70%;
  margin: 0 auto;
}


footer hr {
	display: block;
	height: 1px;
	width: 290px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 0 auto;
	padding: 0; 
}



.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 0px 0;
  font-size: 1.2em;
  line-height: 1.428571429;
  border-radius: 15px;
}

.center-block {
	margin-top: 120px;
}

.pull-right {
	margin-top: -20px;
	margin-right: 120px;
}

p {
	padding-left: 150px;
	margin: -10px 10px;
}


@media (max-width: 800px) 
{
  .pull-right {
  	margin-right: 20px;
  } 

  p {
  	padding-left: 20px;
  }
   
}

.color-icon {
	color: #fff;
}

.color-icon:hover {
	color: #fff;
	text-decoration: none;
}


footer {
	/*margin-top: 100px;*/
	background-color: #F0AD4E;
	height: 250px;
}

footer p {
	padding: 50px;
	font-size: 1.2em;
	font-family: 'Quicksand', sans-serif;
	color: #fff;
}

footer hr {
	border-top: 1px solid rgba(92, 76, 82, 0.4);
}

/*
.modal-content {
	width: 1200px;
	position: fixed;
	left: -100px;
}
*/
.container-fluid {
	padding: 0;
	margin: 0;

}

h1, h2, h3 {
  font-size: 2em;
  font-family: 'Quicksand', sans-serif;
}

h2 {
  padding: 20px;
  font-size: 1.2em;
  color: #F0AD4E;
}

img#logo {
	width:128px;
	height: 96px;
}


/* CSS DO VIDEO COMO BACKGROUND */
.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    /*background: #000;
    padding-bottom: 0;*/
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    top: 0;
}
.video-container video.fillWidth {
    width: 100%;
}


/* transparencia em cima do video */
.video-container .filter {
    background: rgba(250, 250, 250, 0.3);
    height: 100%;
}


.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #fff;
}

  footer.page-footer {
    margin-top: 0!important;
  }


/* navbar textos */

#slogan-left {
	font-size: 1em;
	font-family: 'Pacifico', cursive;
	margin-top: 45px;
	padding-left: 200px;
}

#slogan-right {
	font-size: 1em;
	font-family: 'Pacifico', cursive;
	margin-top: -30px;
}


/* botão down  home*/

@-webkit-keyframes circleBounce {
  0% {-webkit-transform: scale(0.9); opacity: 0;}
  20% {opacity: 0.5;}
  50% {opacity: 1;}
  80% {opacity: 0.5;}
  100% {-webkit-transform: scale(1.1); opacity:0;}
}

.page-down {
  position: relative;
  top: 780px;
  left: calc(50% - 3px);
  width: 12px;
  height: 12px;
  border: 3px solid rgb(246, 184, 98);
  border-top: none;
  border-left: none;
  cursor:pointer;
  
  -webkit-transform: rotate(45deg);
  -webkit-transform-origin: 50% 50%;
}

.page-down:after {
  content: "";
  display: block;
  position: absolute;
  top: calc(50% - 23px); /*circle = 1+50+1 = 52px*/
  left: calc(50% - 23px); /*arrow = 3+3 = 6px*/
  width: 50px;
  height: 50px;
  border: 1px solid rgba(246, 184, 98, 0.8);
  border: 1px solid rgb(246, 184, 98);
  border-radius: 50%;
  
  -webkit-animation: circleBounce 2s linear infinite;  
}

.page-down:hover:after {
  background-color: rgba(0,0,0,.15);
}

.promo {
  padding-bottom:70px;
}

.promo p{ 
  margin-top: 250px;
}

.promo abbr {
  float: left;
  margin-left: 160px;
  padding-top: 65px;
}

.promo h3 {
    float: left;
    margin-left: 5px;
    padding-top: 35px;

}

.promo em {
  float: left;
  padding-top: 90px;
  margin-left: -110px;
}

.promo img {
  float: right;
  margin-top: 200px;
  height: 350px;
  width: 350px;
}

.destaques .col-md-6 .col-lg-6 {
  padding: none;
  background-color: #fff;
}

img.random-prod:hover{
  background: red;
}


/* as imagens da index ficam melhores */
  .col-lg-6 {
      width: 50%;
      padding: 1px;
  }

.row {
  margin-bottom: 10px;
}


/* footer */
footer.page-footer {
    margin-top: 20px;
    background-color: #ee6e73;
}


/* lista de compras */
